section{
    padding-bottom: 50px;
}

#navigation{
    display: flex;
    justify-content:flex-end;
}

.logo{
    display: flex;
    justify-content:center;
}

.carousel-inner > .item > img {
  width:640px;
  height:360px;
}

.container{
    
}
.container-carousel{
    margin:auto;
    width: 60%;
}